@import "../../responsive.scss";
.business{
    background-color: var(--red);
    display: flex;
    justify-content: center;
  
    color: white;
    height: 700px;

    .container{
        display: flex;
        width:1400px;
        align-items: center;
        gap: 30px;
        .left{
            margin: 0px 30px;
           
            display: flex;
            flex-direction: column;
            gap: 15px;
            &:first-child{
                flex:2;
                @include respond(tab-port){
                    font-size: 12px;
                 }
               
            }
            &:last-child{
                flex:3;
                max-width: 700px;

            }
            h1{
                font-weight: 500;
                margin-bottom: 10px;
                
            }
            p{
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 1px;
                margin: 0;
                @include respond(phone){
                    font-size: 10px;
                }
            }
            .title{
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight:500;
        
                font-size: 18px;
                @include respond(phone){
                    font-size: 14px;
                }

                img{
                    width: 24px;
                    height: 24px;
                    @include respond(phone){
                        width: 14px;
                        height: 14px;
                    }
                }

            }
            button{
                background-color: var(--btn-sec);
                color: white;
                border-radius: 5px;
                cursor: pointer;
                width: max-content;
                font-family: "Poppins",sans-serif;
                font-weight: 500;
                padding: 10px 20px;
                font-size: 16px;
                margin-top: 20px;
                border: none;

            }  
        }
        .right{
            @include respond(tab-port){
               display: none;
            }
            @include respond(phone){
                display: none;
            }
            @include respond(mini-desktop){
                display: none;
            }

            height: 100%;
               img{
                   height: 100%;
                   object-fit: contain;
               }
           }
    }
}